.content .list .ant-row {
    margin: 0 !important;
}

.content .list .ant-card {
    background: #181818;
}

.content .list .ant-card-head {
    border: 1px solid #aaaaaa;
}

.content .list .ant-card-head .ant-card-head-title {
    display: -webkit-box;
    height: calc(1.4rem * 3);
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: #ffffff;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content .list .ant-card-body {
    padding: 12px 24px;
    border: 1px solid #aaaaaa;
    border-top: none;
    background: #181818;
}

.content .list .ant-card-body .note-content {
    font-size: 1.2rem;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .list .ant-card-body .note-createAt {
    font-size: .9rem;
    color: #aaaaaa;
}
