/* tile uploaded pictures */
.creation .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
}

.creation .upload-list-inline .ant-upload-animate-enter {
    animation-name: uploadAnimateInlineIn;
}

.creation .upload-list-inline .ant-upload-animate-leave {
    animation-name: uploadAnimateInlineOut;
}